# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Generated
RPGAlarm/Info.plist
